html, body{
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: serif, arial, Helvetica;
	margin:0;
	padding: 0;
}
a{
	color:white;
}
a:hover{
	color:white;
	text-decoration: none;
}
.center{
	display: flex;
	justify-content: center;
	margin:auto;
}
.sidebar{
	height: auto;
	background:#0048AA;
}
.round{
	border-radius: 2px;
	border:none;
	background-color: lightblue;
	color: white;
	font-size: 18px;
	box-shadow: 2px 2px #0748CC;
}
.round:focus{
	outline: none;
	padding-left: 10px;
}
::placeholder{
	color: white !important;
	padding-left: 10px;
}
.online{font-size: 12px;}
img{
	width: 50px;
	height:50px;
	border-radius: 50%;
}

li{
	background:#0048AA !important;	
}
.list{
	padding:8px 0;
	border-top: 1px solid darkslateblue;
	border-bottom: 1px solid darkslateblue;
	box-shadow: 0 0.2px  0 #000080;
}
/* main chat area*/
.msg-wrapper{height: auto;position: relative;}
.chat-header{
	background-color: lightgrey;
	box-shadow: -1px 1px slategrey;
}

.selected-user{
	color: darkblue;
	font-size: 20px;
	font-style: bold;
	font-weight: bold;
}

.sender{
	max-width: 300px;
}
.receiver{
	max-width: 300px;
}
.msg{
	font-family: arial;
	font-size: 13px;
	line-height: 16px;
}
.receiver-div{margin-top: 5em;}
.r-msg{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 10px;
	padding: 12px;
	background-color: lightgrey;
}
.s-msg{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0;
	padding: 12px;
	background:#0048AA;;
}
.send-message{
	position: absolute;
	bottom: 0;
	background-color: lightgrey;
}
textarea{
	resize: none;
}

@media screen and (max-width: 990px){
	body{
		/*background: #0048AA;*/
	}
	.container{
		min-width: 100% !important;
		padding: 0;
	}
	.center{
		margin:0;
	}
	.selected-user{
		font-size: 15px;
	}
	.msg-wrapper{
		/*display: none !important;*/
	}
	.main-chat-wrapper{
		margin-bottom: 70px;
	}
	.send-message{
		position: fixed;
		bottom: 0;
		background-color: lightgrey;
	}

}
